.header {
  $primary-foreground: #fff;

  background-color: #4c4b46;
  background-image: url('../img/bg_photo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 1024px;
  padding: 40px;
  box-sizing: border-box;

  &-menu-group {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 181px;
      text-decoration: none;
      color: $primary-foreground;

      &:hover {
        color: #998675;
      }

      &-svg {
        fill: currentColor;
      }

      &-txt {
        font-family: Raleway;
        font-size: 34px;
        font-weight: 400;
        text-align: right;
      }
    }

    &-menu {
      flex-shrink: 0;

      &-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          margin: 0 30px 0 0;

          font-family: $montserrat;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 300;
          color: $primary-foreground;

          &:hover {
            color: #c7b299;
          }
        }
      }
    }
  }
}
