$active-color: yellow;

@import 'fonts';
@import 'button';
@import 'logo';
@import 'header';
@import 'services';
@import 'screenshots';
@import 'purchase';
@import 'latest-projects';
@import 'video';
@import 'mobile-devices';
@import 'stats';
@import 'recent-posts';
@import 'famous-clients';
@import 'widgets';

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}
