.mobile-devices-desktop {
  display: flex;
  justify-content: center;

  &-content {
    margin: 0 auto;
    display: flex;

    &-photo {
      margin: 79px 0 0 0;
    }

    &-description {
      max-width: 657px;
      align-self: center;

      &-title {
        font-family: $raleway;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
      }

      &-paragraph {
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 40px 0 0 0;
      }

      &-points {
        margin: 45px 0 0 0;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 300;
        color: #8c8c8c;
        list-style-type: none;

        li {
          position: relative;
          margin: 0 0 12px 39px;

          &:after {
            content: url('../img/point.svg');
            display: block;
            position: absolute;
            top: 0;
            left: -41px;
          }
        }
      }
    }
  }

}
