.purchase {
  display: flex;
  justify-content: space-between;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  padding: 50px 374px 50px 376px;

  &-text {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 28px;
      font-weight: 400;
      color: #ffffff;
      font-family: $raleway;

      &-accent {
        color: #c7b299;
      }
    }

    &-description {
      font-family: $montserrat;
      font-size: 18px;
      font-weight: 300;
      color: #615855;
      margin: 8px 0 0 0;
    }
  }
}
