.recent-posts {
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-family: $raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
  }

  &-sub-title {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    max-width: 760px;
    text-align: center;
  }

  &-cards {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      max-width: 370px;
      margin: 0 50px 0 0;

      &:last-child {
        margin: 0;
      }

      &-light {
        --waxom-recent-posts-background: white;
        --waxom-recent-posts-border: #f8f8f8;
        --waxom-recent-posts-title: #555555;
        --waxom-recent-posts-description: #8c8c8c;
        --waxom-recent-posts-day-background: #363636;
        --waxom-recent-posts-month-background: #252525;
      }

      &-dark {
        --waxom-recent-posts-background: #362f2d;;
        --waxom-recent-posts-border: #362f2d;
        --waxom-recent-posts-title: #c7b299;
        --waxom-recent-posts-description: #ffffff;
        --waxom-recent-posts-day-background: #c7b299;
        --waxom-recent-posts-month-background: #a48d72;

      }

      &-header {
        display: flex;
        height: 220px;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        &-image {
          position: absolute;
          top: 0;
          left: 0;
        }

        &-date {
          margin: 20px 0 0 20px;
          align-self: flex-start;
          display: flex;
          flex-direction: column;
          z-index: 1;

          &-day {
            font-family: $montserrat;
            font-size: 24px;
            font-weight: 300;
            color: #ffffff;
            padding: 2px 8px;
            background-color: var(--waxom-recent-posts-day-background);
            border-radius: 3px 3px 0 0;
          }

          &-month {
            font-family: $roboto;
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: #ffffff;
            padding: 2px 8px;
            background-color: var(--waxom-recent-posts-month-background);
            border-radius: 0 0 3px 3px;
            text-align: center;
          }
        }

        &-pages {
          align-self: center;
          display: flex;
          flex-direction: row;
          margin: 0 0 22px 0;
          height: 15px;

          &-marker {
            width: 11px;
            height: 11px;
            opacity: 0.3;
            background-color: #ffffff;
            margin: 0 10px 0 0;
            border-radius: 50%;
            border: 1px solid #ffffff;
            box-sizing: border-box;

            &:last-child {
              margin: 0;
            }

            &-selected, &:hover {
              transform: scale(1.36);
              border: 1px solid #d3c1ad;
              background-color: transparent;
              opacity: 1;
            }
          }
        }
      }

      &-content {
        border: 1px solid var(--waxom-recent-posts-border);
        border-top: 0;
        align-self: stretch;
        padding: 29px;
        background-color: var(--waxom-recent-posts-background);

        &-title {
          font-family: $raleway;
          font-size: 20px;
          font-weight: 500;
          color: var(--waxom-recent-posts-title);
        }

        &-description {
          font-family: $montserrat;
          font-size: 14px;
          line-height: 22px;
          font-weight: 300;
          color: var(--waxom-recent-posts-description);
        }

        &-read-more {
          font-family: $montserrat;
          font-size: 14px;
          font-weight: 300;
          color: #c7b299;
          text-decoration: none;

          &:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #c7b299;
            margin: 0 0 0 9px;
          }

          &:hover {
            color: red;
          }

          &:hover:after {
            border-left: 5px solid red;
          }
        }
      }
    }
  }

  &-paging {
    &-previous {
      fill: #d1d1d1;
    }

    &-next {
      fill: #c7b299;

      &:hover {
        fill: red;
      }
    }
  }
}
