.screenshots {
  background-color: #fbfaf8;
  padding: 83px 0 0 0;

  &-body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1230px;
    background-image: url('../img/screenshot_left.png'), url('../img/screenshot_right.png');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;

    &-title {
      font-family: $raleway;
      font-size: 30px;
      font-weight: 600;
      color: #555555;
    }

    &-description {
      margin: 24px 0 0 0;
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 300;
      color: #8c8c8c;
      max-width: 757px;
      text-align: center;
    }

    &-front-image {
      margin: 40px 0 0 0;
    }
  }
}
