@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-thin.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-extralight.ttf");
  font-weight: 200;
  font-style: normal; }
.header {
  color: #fff;
  background-color: #4c4b46;
  background-image: url("../img/bg_photo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1024px;
  padding: 40px;
  box-sizing: border-box; }
  .header-menu-group {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-menu-group-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 181px;
      text-decoration: none;
      color: #fff; }
      .header-menu-group-logo:hover {
        color: #998675; }
      .header-menu-group-logo-svg {
        fill: currentColor; }
      .header-menu-group-logo-txt {
        font-family: "Raleway, sans serif";
        font-size: 34px;
        font-weight: 400;
        text-align: right; }
    .header-menu-group-menu {
      flex-shrink: 0; }
      .header-menu-group-menu-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none; }
        .header-menu-group-menu-list li {
          margin: 0 30px 0 0; }
          .header-menu-group-menu-list li a {
            text-decoration: none;
            color: #fff;
            font-family: "montserrat, sans serif";
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300; }
            .header-menu-group-menu-list li a:hover {
              color: #c7b299; }
  .header-slider {
    display: flex;
    justify-content: space-between;
    margin: 285px 0 0 0; }
    .header-slider-previous {
      display: block;
      width: 40px;
      height: 73px;
      position: relative; }
      .header-slider-previous:after {
        content: "";
        display: inline-block;
        width: 52px;
        height: 52px;
        border-top: 2px solid #d3c1ad;
        border-right: 2px solid #d3c1ad;
        transform: rotate(-135deg);
        position: absolute;
        top: 10px;
        left: -25px; }
      .header-slider-previous:hover:after {
        border-top: 2px solid orange;
        border-right: 2px solid orange; }
    .header-slider-current {
      max-width: 590px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .header-slider-current-secondary-title {
        font-size: 36px;
        font-weight: 500;
        font-family: "Raleway, sans serif"; }
      .header-slider-current-primary-title {
        font-size: 52px;
        font-weight: 800;
        font-family: "Raleway, sans serif"; }
      .header-slider-current-text {
        font-family: "montserrat, sans serif";
        font-size: 16px;
        font-weight: 300;
        max-width: 562px;
        hyphens: auto;
        text-align: center; }
      .header-slider-current-action-button {
        width: 170px;
        height: 53px;
        background-color: #998675;
        border: none;
        border-radius: 3px;
        font-family: "Raleway, sans serif";
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        outline: none;
        color: #fff;
        margin: 52px 0 0 0; }
        .header-slider-current-action-button:hover {
          background-color: gray; }
        .header-slider-current-action-button:active {
          border: #c7b299 1px solid; }
    .header-slider-next {
      display: block;
      width: 40px;
      height: 73px;
      position: relative; }
      .header-slider-next:after {
        content: "";
        display: inline-block;
        width: 52px;
        height: 52px;
        border-top: 2px solid #d3c1ad;
        border-right: 2px solid #d3c1ad;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left: -25px; }
      .header-slider-next:hover:after {
        border-top: 2px solid orange;
        border-right: 2px solid orange; }

body {
  margin: 0;
  padding: 0; }
